/*
 * Share Buttons
 */


.twitter-share-button {
  display: inline-block;
}

.fb-share-button, .fb-share-button span {
  display: inline-block;
  vertical-align: top !important;
}

.fb-share-button {
  margin-right: 8px;
}
