
    <!-- FOOTER HERE -->

      <div class="footer pb5"> 
        <div class="container textcenter">
          <a href="/">
            <img src="images/logo.png" class="logofade footerlogo">
            <img src="images/redback.png" class="redbacklogo2">
          </a>
        </div>
        <div class="container">
          <section class="flex justify-center onecol-flex-mobile textcenter mt3">
            <div class="half-flex-child mb4">
              <a href="/" class="inverse"><h3 class="mb1">QUICK SEND</h3></a>
              <h5 class="mb0">Upload a document and mail it. Fast!</h5>
              <a href="index.html#quicksend" class="button mt2">Start Now</a>
            </div>
            <div class="half-flex-child mb4">
              <a href="/bulk-mail.html" class="inverse"><h3 class="mb1">BULK MAIL</h3></a>
              <h5 class="mb0">Easily manage multiple recipients</h5>
              <div ng-click="sign_up()" class="button mt2">Sign Up</div>
            </div>
          </section>
        </div>
        <div class="container textcenter mt2">
          <ul class="socialfooter nodots mb1">
            <li><a href="https://twitter.com/Mailformio" target="_blank" title="Twitter"><i class="icon ion-social-twitter"></i></a></li>
            <!-- <li><a href="https://www.instagram.com/mailform/" target="_blank" title="Instagram"><i class="icon ion-social-instagram"></i></a></li> -->
            <li><a href="https://www.facebook.com/mailformio" target="_blank" title="Facebook"><i class="icon ion-social-facebook"></i></a></li>
          </ul>
          <ul class="footlinks nodots mt0 mb2">
            <li><a href="press/" title="Press">Press</a></li>
            <li><a href="http://blog.mailform.io/" title="Blog">Blog</a></li>
            <li><a href="pricing.html" title="Pricing">Pricing</a></li>
            <li><a href="about.html" title="About">About</a></li>
            <li><a href="faq.html" title="FAQ">FAQ</a></li>
            <li><a href="contact.html" title="Contact">Contact</a></li>
          </ul>
          <p class="legal mb0"><a href="privacy.html" title="Privacy Policy">Privacy Policy</a>&nbsp;|&nbsp;<a href="terms.html" title="Terms of Service">Terms of Service</a></p>
          <p class="legal mb3">©2016 Mailform</p>
          <a href="https://twitter.com/share" class="twitter-share-button" data-size="large" data-url="https://www.mailform.io" data-text="Mail any document via USPS, without ever leaving your desk." data-via="Mailformio">Tweet</a>
        </div>
      </div>