<!-- header start -->

    <div class="navbar header">
      <div class="container flex justify-between align-center">
        <a href="/"><img class="logo" src="{{site.baseurl}}/images/logo.png"></a>
        <div>
          <input class="menu-btn" type="checkbox" id="menu-btn" />
          <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
          <ul class="topbar-hide bar2">
            <li>arrow</li>
          </ul>
        </div>
      </div>
    </div>

<!-- header end -->
