---
id: 3
title: Office
author: drew
layout: post
permalink: /office/
categories:
  - Food
---

{% include_relative office-tags.html %}

</head>

{% include_relative header-copy.html %}

    <!-- content start -->

  <body class="homepage">

    <div class="surfing">
      <div id="pointer0" class="pointer"></div>
      <div id="pointer1" class="pointer"></div>
      <div id="pointer2" class="pointer"></div>
      <div id="pointer3" class="pointer"></div>
      <div id="pointer4" class="pointer"></div>
    </div>

    <div class="backdrop flex">
      <img class="reel" src="{{site.baseurl}}/images/surfing/01.jpg">
      <img class="reel" src="{{site.baseurl}}/images/surfing/02.jpg">
      <img class="reel" src="{{site.baseurl}}/images/surfing/03.jpg">
      <img class="reel" src="{{site.baseurl}}/images/surfing/04.jpg">
      <img class="reel" src="{{site.baseurl}}/images/surfing/05.jpg">
      <img class="reel" src="{{site.baseurl}}/images/surfing/06.jpg">
    </div>

    <div class="bottom-text">
        <a class="js-menu" ><img class="logo" src="{{site.baseurl}}/images/logo.png"></a>
        <nav>
          <ul>
            <li>Link</li>
            <li>Link</li>
            <li>Link</li>
            <li>Link</li>
          </ul>
        </nav>
    </div>