---
id: 2
title: Yoga
author: drew
layout: default
permalink: /yoga/
categories:
  - Sports
---

{% include_relative yoga-tags.html %}

</head>

<body onload="loaded()">

{% include_relative header.html %}

<div class="sidemenu">
  <ul>

    <li class="flex">
      <div class="squaredup half-flex-child">
        <img src="{{site.baseurl}}/images/surfing/06.jpg">
      </div>
      <div class="prodnames">
        <h6>Product name hello hell</h6>
        <p>$34.99</p>
        <a href="http://amazon.com" target="_blank" ><div class="button">Buy</div></a>
      </div>
    </li>

    <li class="flex">
      <div class="squaredup half-flex-child">
        <img src="{{site.baseurl}}/images/surfing/06.jpg">
      </div>
      <div class="prodnames">
        <h6>Product name hello hell</h6>
        <p>$34.99</p>
        <a href="http://amazon.com" target="_blank" ><div class="button">Buy</div></a>
      </div>
    </li>

    <li class="flex">
      <div class="squaredup half-flex-child">
        <img src="{{site.baseurl}}/images/surfing/06.jpg">
      </div>
      <div class="prodnames">
        <h6>Product name hello hell</h6>
        <p>$34.99</p>
        <a href="http://amazon.com" target="_blank" ><div class="button">Buy</div></a>
      </div>
    </li>

    <li class="flex">
      <div class="squaredup half-flex-child">
        <img src="{{site.baseurl}}/images/surfing/06.jpg">
      </div>
      <div class="prodnames">
        <h6>Product name hello hell</h6>
        <p>$34.99</p>
        <a href="http://amazon.com" target="_blank" ><div class="button">Buy</div></a>
      </div>
    </li>

    <li class="flex">
      <div class="squaredup half-flex-child">
        <img src="{{site.baseurl}}/images/surfing/06.jpg">
      </div>
      <div class="prodnames">
        <h6>Product name hello hell</h6>
        <p>$34.99</p>
        <a href="http://amazon.com" target="_blank" ><div class="button">Buy</div></a>
      </div>
    </li>

    <li class="flex">
      <div class="squaredup half-flex-child">
        <img src="{{site.baseurl}}/images/surfing/06.jpg">
      </div>
      <div class="prodnames">
        <h6>Product name hello hell</h6>
        <p>$34.99</p>
        <a href="http://amazon.com" target="_blank" ><div class="button">Buy</div></a>
      </div>
    </li>

    <li class="flex">
      <div class="squaredup half-flex-child">
        <img src="{{site.baseurl}}/images/surfing/06.jpg">
      </div>
      <div class="prodnames">
        <h6>Product name hello hell</h6>
        <p>$34.99</p>
        <a href="http://amazon.com" target="_blank" ><div class="button">Buy</div></a>
      </div>
    </li>

    <li class="flex">
      <div class="squaredup half-flex-child">
        <img src="{{site.baseurl}}/images/surfing/06.jpg">
      </div>
      <div class="prodnames">
        <h6>Product name hello hell</h6>
        <p>$34.99</p>
        <a href="http://amazon.com" target="_blank" ><div class="button">Buy</div></a>
      </div>
    </li>

    <li class="flex">
      <div class="squaredup half-flex-child">
        <img src="{{site.baseurl}}/images/surfing/06.jpg">
      </div>
      <div class="prodnames">
        <h6>Product name hello hell</h6>
        <p>$34.99</p>
        <a href="http://amazon.com" target="_blank" ><div class="button">Buy</div></a>
      </div>
    </li>

    <li class="flex">
      <div class="squaredup half-flex-child">
        <img src="{{site.baseurl}}/images/surfing/06.jpg">
      </div>
      <div class="prodnames">
        <h6>Product name hello hell</h6>
        <p>$34.99</p>
        <a href="http://amazon.com" target="_blank" ><div class="button">Buy</div></a>
      </div>
    </li>

    <li class="flex">
      <div class="squaredup half-flex-child">
        <img src="{{site.baseurl}}/images/surfing/06.jpg">
      </div>
      <div class="prodnames">
        <h6>Product name hello hell</h6>
        <p>$34.99</p>
        <a href="http://amazon.com" target="_blank" ><div class="button">Buy</div></a>
      </div>
    </li>

  </ul>
</div>

<div id="wrapper">
<div id="scroller">

<div class="surfing">

  <a id="pointer" class="pointer origin" title="This is my image's tooltip message!"></a>

  <span id="tooltip_content">
    <div class="squaredup">
      <img src="http://place-hold.it/300x100" />
    </div>
    <h5>$35</h5>
    <a href="http://amazon.com" class="button" target="_blank">See Details</a>
  </span>

  <a id="pointer2" class="pointer origin2" title="This is my image's tooltip message!"></a>

  <span id="tooltip_content2">
    <div class="squaredup">
      <img src="http://place-hold.it/300x500" />
    </div>
    <h5>$35</h5>
    <a href="http://amazon.com" class="button" target="_blank">See Details</a>
  </span>

  <a id="pointer3" class="pointer origin3" title="This is my image's tooltip message!"></a>

  <span id="tooltip_content3">
    <div class="squaredup">
      <img src="http://place-hold.it/300x700" />
    </div>
    <h5>$35</h5>
    <a href="http://amazon.com" class="button" target="_blank">See Details</a>
  </span>


</div>

<div class="backdrop flex">
  <img class="reel" src="{{site.baseurl}}/images/surfing/03.jpg">
  <img class="reel" src="{{site.baseurl}}/images/surfing/02.jpg">
  <img class="reel" src="{{site.baseurl}}/images/surfing/06.jpg">
  <img class="reel" src="{{site.baseurl}}/images/surfing/04.jpg">
</div>

<div class="bottommenu flex align-center">
  <p>Get awesome surf gear for that ocean lover. We've picked out the latest surfboard models as well as choice gifts, swag and must haves from Amazon.</p>
</div>

<a class="js-menu2">
  <img class="logo" src="{{site.baseurl}}/images/infoico.png">
</a>

</div>
</div>
