---
id: 1
title: Surf
author: drew
layout: default
permalink: /surf/
categories:
  - Sports
---

                
<script>
         var _page_conf = {
             // image width and height
             image: {
                {% for page in site.data.postdata %}
                {% if page.main == "surfmain" %}
                width: {{ page.xsize }},
                height: {{ page.ysize }}
                {% endif %}
                {% endfor %}
             },

             // pointers and their targets
             targets: [
                 
              {% for page in site.data.postdata %}
                {% if page.shortname == "surf" %}

                 {
                    x: {{ page.xpt }}, // these are
                    y: {{ page.ypt }}, // target values
                    elem: ".pointer{{ page.num }}" //this is pointer element id for this target
                 },


                {% endif %}
                {% endfor %}


             ]
         };
     </script>

</head>

<body onload="loaded()">

<style>
  .backdrop {
    background-image: url('{{ site.baseurl }}/images/surf/surfbg.jpg');
  }
</style>

{% include_relative header.html %}

<div id="wrapper">
  <div id="scroller">

    <div>

    {% for page in site.data.postdata %}
    {% if page.shortname == "surf" %}
     
      
      <a href="#" class="tooltiphide pointer tooltip pointer{{ page.num }}" data-content="#tooltip_content{{ page.num }}" title="This is my image's tooltip message!"></a>
      
      <button type="button" href="#" class="modalhide pointer pointer{{ page.num }}" data-toggle="modal" data-target="#myModal"></button>

      <span id="tooltip_content{{ page.num }}">
        <a href="{{ page.link }}" target="_blank">
          <div class="flex justify-between">
            <h5>{{ page.product }}</h5>
            <h5>${{ page.price }}</h5>
          </div>
          <div>
            <img src="{{ site.baseurl }}/images/skate/{{ page.filename }}" alt="{{ page.alttag }}" />
          </div>
          <button class="button" target="_blank">See Details</button>
        </a>
      </span>

    {% endif %}
    {% endfor %}

    </div>

    <div class="backdrop flex">

    </div>

  </div>
</div>

<div class="sidemenu">
  <ul>

    {% for page in site.data.postdata %}
    {% if page.shortname == "surf" %}
    <li>
      <a class="flex" href="{{ page.link }}" target="_blank" >
      <div class="squaredup half-flex-child">
        <img src="{{ site.baseurl }}/images/surf/{{ page.filename }}">
      </div>
      <div class="prodnames">
        <h6>{{ page.product }}</h6>
        <p>${{ page.price }}</p>
        <div class="button">Buy</div>
      </div>
    </a>
    </li>
    {% endif %}
    {% endfor %}

  </ul>
</div>

<a class="js-menu2">
  <img class="logo infobtn" src="{{site.baseurl}}/images/infoico.png">
</a>

<div class="bottommenu flex align-center">
  <p>Most chill surf gear<br>Get it at Swell.com ></p>
</div>

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


