---
id: 1
title: Neon Surf Gear
author: drew
layout: default
permalink: /neon-surf-gear/
categories:
  - Sports
---

                
<script>
         var _page_conf = {
             // image width and height
             image: {
                {% for page in site.data.postdata %}
                {% if page.main == "surfermain" %}
                width: {{ page.xsize }},
                height: {{ page.ysize }}
                {% endif %}
                {% endfor %}
             },

             // pointers and their targets
             targets: [
                 
              {% for page in site.data.postdata %}
                {% if page.shortname == "surfer" %}

                 {
                    x: {{ page.xpt }}, // these are
                    y: {{ page.ypt }}, // target values
                    elem: "#pointer{{ page.num }}" //this is pointer element id for this target
                 },


                {% endif %}
                {% endfor %}


             ]
         };
     </script>

</head>

<body onload="loaded()">

<style>
  .backdrop {
    background-image: url('{{ site.baseurl }}/images/surfer/surfer.jpg');
  }
</style>

{% include_relative header.html %}

<div id="wrapper">
  <div id="scroller">

    <div>

    {% for page in site.data.postdata %}
    {% if page.shortname == "surfer" %}
    
      <a href="#{{ page.shortname }}{{ page.num }}" id="pointer{{ page.num }}" class="lazy pointer origin tooltip" data-content="#tooltip_content{{ page.num }}" title="This is my image's tooltip message!"></a>

      <span id="tooltip_content{{ page.num }}">
        <a href="{{ page.link }}" target="_blank"><h6>{{ page.product }}</h6></a>
        <div>
          <a href="{{ page.link }}" target="_blank"><img src="{{ site.baseurl }}/images/surfer/{{ page.filename }}" alt="{{ page.alttag }}" /></a>
        </div>
        <h5>${{ page.price }}</h5>
        <a href="{{ page.link }}" class="button" target="_blank">See Details</a>
      </span>

    {% endif %}
    {% endfor %}

    </div>

    <div class="backdrop flex">
<!--     {% for page in site.data.postdata %}
    {% if page.shortname == "surfer" %}
        {{ page.backimages }}
    {% endif %}
    {% endfor %} -->
    </div>

  </div>
</div>

<div class="sidemenu">
  <ul>

    {% for page in site.data.postdata %}
    {% if page.shortname == "surfer" %}
    <li class="flex">
      <div class="squaredup half-flex-child">
        <a href="{{ page.link }}" target="_blank"><img src="{{ site.baseurl }}/images/surfer/{{ page.filename }}"></a>
      </div>
      <div class="prodnames">
        <a href="{{ page.link }}" target="_blank"><h6>{{ page.product }}</h6></a>
        <p>${{ page.price }}</p>
        <a href="{{ page.link }}" target="_blank" ><div class="button">Buy</div></a>
      </div>
    </li>
    {% endif %}
    {% endfor %}

  </ul>
</div>

<a class="js-menu2">
  <img class="logo" src="{{site.baseurl}}/images/infoico.png">
</a>

<div class="bottommenu flex align-center">
  <p>Get awesome surf gear.<br>We've picked out the latest surfboard models as well as choice gifts, swag and must haves from Amazon.</p>
</div>

{% for page in site.data.postdata %}
{% if page.shortname == "surfer" %}
<div id="{{ page.shortname }}{{ page.num }}" class="modalDialog">
    <div> 
        <a href="#close" title="Close" class="close"></a>
        <a href="{{ page.link }}" target="_blank"><h6>{{ page.product }}</h6></a>
        <div class="flex justify-center">
          <a href="{{ page.link }}" target="_blank"><img class="modalimage" src="{{ site.baseurl }}/images/surfer/{{ page.filename }}" alt="{{ page.alttag }}" /></a>
        </div>
        <h5>${{ page.price }}</h5>
        <a href="{{ page.link }}" class="button" target="_blank">See Details</a>
    </div>
</div>
{% endif %}
{% endfor %}


