<script type="text/javascript">

      $(document).ready(function(){

        var image = { width: 6997, height: 200 };

        var target = new Array();
        target[0] = { x: 490, y: 114 };
        target[1] = { x: 400, y: 94 };
        target[2] = { x: 480, y: 172 };
        target[3] = { x: 490, y: 188 };
        target[4] = { x: 490, y: 188 };

        var pointer = new Array();
        pointer[0] = $('#pointer');
        pointer[1] = $('#pointer2');
        pointer[2] = $('#pointer3');
        pointer[3] = $('#pointer4');
        pointer[4] = $('#pointer5');

        $(document).ready(updatePointer);
        $(window).resize(updatePointer);

        function updatePointer() {
            var windowWidth = $(window).width();
            var windowHeight = $(window).height();
            
            // Get largest dimension increase
            var xScale = windowWidth / image.width;
            var yScale = windowHeight / image.height;
            var scale;
            var yOffset = 0;
            var xOffset = 0;
            
            if (xScale > yScale) {
                // The image fits perfectly in x axis, stretched in y
                scale = xScale;
                yOffset = (windowHeight - (image.height * scale)) / 2;
            } else {
                // The image fits perfectly in y axis, stretched in x
                scale = yScale;
                xOffset = (windowWidth - (image.width * scale)) / 2;
            }
            
            var arrayLength = target.length;
            for (var i = 0; i < arrayLength; i++) {
                pointer[i].css('top', (target[i].y) * scale + yOffset);
                pointer[i].css('left', (target[i].x) * scale);
            }  
        }

        {% include_relative sitescript.html %}

      });


      {% include_relative scroll.html %}

</script>

